<mat-card class="example-card" *ngFor="let item of characters">
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.slug}}</mat-card-subtitle>
  </mat-card-header>
  <a routerLink="/characters/{{item.id}}">
    <img mat-card-image src="{{item.image}}" alt="Photo of a Shiba Inu" />
  </a>
  <mat-card-content>
    <p>
      {{item.book}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="loading">
  Loading...
</div>

<nav [hidden]="!loading">
  <div class="pagination">
    <div class="page-item" [ngClass]="{'active': pageNumber === currentPage}" *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <a class="page-link">{{ pageNumber }}</a>
    </div>
  </div>
</nav>
