
<div id="search-component">
  <mat-form-field class="example-form-field">
    <mat-label>Character Search</mat-label>
    <input matInput #searchBox id="search-box" (input)="search(searchBox.value)" />
  </mat-form-field>
  <mat-list>
    <mat-list-item *ngFor="let character of character$ | async">
    <a routerLink="/characters/{{character.id}}">
      <div mat-line>{{character | json}}</div>
    </a>
    </mat-list-item>
  </mat-list>
</div>


