<div *ngIf="character">
  <img *ngIf="character.image" src="{{character.image}}" alt="{{character.name}}">
  <h1>{{character.name}}</h1>
  <h2>{{character.slug}}</h2>
  <h3>{{character.rank}}</h3>
  <h4>{{character.house}}</h4>
  <h4>{{character.book}}</h4>
  <h4>{{character.titles}}</h4>
  <h4>{{character.house}}</h4>
</div>
